TOC.ipynb
__pycache__
data/BODY_COMPOSITION_DATA_4_ASSIGNMENT.csv
data/BODY_COMPOSITION_DATA_4_ASSIGNMENT.tsv
data/elderly_bmi.csv
data/elderlyPhenoData_small.csv
data/energy.txt
data/energy_intake.txt
data/helium.txt
data/marathon.csv
data/module_grades.tsv
data/nhanes.csv
data/nhanes_bmi.csv
data/obesity_stats.xlsx
data/pparg_prot.fa
data/run10.txt
data/states.csv
Untitled.ipynb
